<h2> <%= session[:user_type].capitalize %> Page: Logged in as <%= @teachers.name %> </h2>
<p id="notice"><%= notice %></p>

<h1>Student List</h1>

<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Email</th>
      <th>Parent Name</th>
      <th>Assignment Comments</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <% student.grades.each do |g| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.email %></td>
          <% if student.parents.count == 1 %>
            <td><%= student.parents.first.name %></td>
          <% else %>
            <td><%= student.parents.first.name %> and <%= student.parents.last.name %></td>
          <% end %>
          <td><%= g.grade %> on <%= g.assignment_name%></td>
          <td><%= link_to 'Edit', edit_grade_path(student) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
<%= link_to 'New Parent', new_parent_path %>
