<h2> You are logged in as <%= @parent.name %> </h2>
<p id="notice"><%= notice %></p>

<h3>Grade List for <%= @kid.name %></h3>

<table>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Grade</th>
    </tr>
  </thead>

  <tbody>
    <% @kid.grades.each do |g| %>
      <tr>
        <td><%= g.assignment_name %></td>
        <td><%= g.grade %></td>
      </tr>
    <% end %>
  </tbody>
</table>
